spring:
  application:
    name: momentum

  datasource:
    url: jdbc:postgresql://localhost:5432/momentum
    username: admin
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8080

jwt:
  secret: your-secret-key-change-this-in-production
  expiration: 86400000 # 24 hours in milliseconds
